name: Deploy to GCP

on:
  push:
    branches:
    - infra/pipeline

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Syntax check (DAGs)
        run: |
          python -m compileall dags

      - name: Detect changed files
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            dags:
              - 'dags/**'
            infra:
              - 'Dockerfile'
              - 'docker-compose.yml'
    outputs:
      dags_changed: ${{ steps.changes.outputs.dags }}
      infra_changed: ${{ steps.changes.outputs.infra }}

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy DAG-only changes
        if: needs.build.outputs.dags_changed == 'true' && needs.build.outputs.infra_changed == 'false'
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.GCP_HOST }}
          username: ${{ secrets.GCP_USERNAME }}
          key: ${{ secrets.GCP_SSH_KEY }}
          script: |
            cd ~/pro-nlp-finalproject-nlp-03
            git pull origin infra/pipeline
            sudo docker compose restart airflow-scheduler airflow-webserver

      - name: Deploy infra changes
        if: needs.build.outputs.infra_changed == 'true'
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.GCP_HOST }}
          username: ${{ secrets.GCP_USERNAME }}
          key: ${{ secrets.GCP_SSH_KEY }}
          script: |
            cd ~/pro-nlp-finalproject-nlp-03
            git pull origin infra/pipeline
            sudo docker compose build
            sudo docker compose up -d
            sudo docker compose logs | tail -10
